.button {
  cursor: pointer;
  font-size: 1.1rem;
  padding: 8px 16px;
  border: 1px solid var(--slate-400);
  border-radius: 5px;
  background-color: var(--slate-700);
  transition: 200ms;
}

.button:hover {
  background-color: var(--slate-500);
}

.icon {
  padding: 10px;
}

.icon > * {
  width: 20px;
  height: 20px;
}
