.grid {
  display: grid;
  -webkit-user-select: none; /* Safari */
  user-select: none;
}

.size-8 {
  grid-template-columns: repeat(8, 1fr);
}

.size-12 {
  grid-template-columns: repeat(12, 1fr);
}

.size-20 {
  grid-template-columns: repeat(20, 1fr);
}
