.grid {
  display: grid;
}

.size-8 {
  grid-template-columns: repeat(8, 1fr);
}

.size-12 {
  grid-template-columns: repeat(12, 1fr);
}

.size-20 {
  grid-template-columns: repeat(20, 1fr);
}

.square {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  background-color: white;
}
