.square {
  display: grid;
  align-content: center;
  height: 30px;
  width: 30px;
  background-color: var(--square-bg-color);
  border-top: 2px solid var(--square-top-left-color);
  border-left: 2px solid var(--square-top-left-color);
  border-bottom: 2px solid var(--square-bottom-right-color);
  border-right: 2px solid var(--square-bottom-right-color);
  color: black;
}

.isEmpty {
  background-color: var(--empty-square-bg-color);
  border-top: 2px solid var(--empty-square-top-left-color);
  border-left: 2px solid var(--empty-square-top-left-color);
  border-bottom: 2px solid var(--empty-square-bottom-right-color);
  border-right: 2px solid var(--empty-square-bottom-right-color);
}

.one {
  color: var(--one);
}

.two {
  color: var(--two);
}

.three {
  color: var(--three);
}

.four {
  color: var(--four);
}

.five {
  color: var(--five);
}

.six {
  color: var(--six);
}

.seven {
  color: var(--seven);
}

.eight {
  color: var(--eight);
}
