:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --one: #60A5FA;
  --two: #4ADE80;
  --three: #FB7185;
  --four: #A78BFA;
  --five: #FACC15;
  --six: #2DD4BF;
  --seven: #E879F9;
  --eight: #94A3B8;

  --bg-color: #242424;

  --square-bg-color: #2d3e50;
  --square-top-left-color: #4a6b8a;
  --square-bottom-right-color: #1a222d;

  --empty-square-bg-color: #1a222f;
  --empty-square-top-left-color: #0f172a;
  --empty-square-bottom-right-color: #2d3e50;

  --slate-200: oklch(92.9% 0.013 255.508);
  --slate-300: oklch(86.9% 0.022 252.894);
  --slate-400: oklch(70.4% 0.04 256.788);
  --slate-500: oklch(55.4% 0.046 257.417);
  --slate-600: oklch(44.6% 0.043 257.281);
  --slate-800: oklch(27.9% 0.041 260.031);
  --slate-700: oklch(37.2% 0.044 257.287);
  --slate-900: oklch(20.8% 0.042 265.755);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
